html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #eee;
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    display: block;
    color: #111;
    font-size: 38px;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    border-bottom: 2px solid rgb(255, 115, 0);
    margin: 0 0 1em;
}

button {
    display: inline-block;
    height: 42px;
    border: 1px solid rgb(170, 170, 170);
    background-color: white;
    color: #111;
    padding: 8px 16px;
    border-radius: 6px;
    user-select: none;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 233, 216);
        border-color: rgb(170, 170, 170);
    }

    &.active, &:active {
        color: black;
        background-color: rgb(255, 189, 135);
        border-color: #333;
    }

    &.completed {
        color: #acacac;
        background-color: #e0e0e0;
        font-style: italic;
    }
}

.center {
    text-align: center;
}

.content-block {
    margin-bottom: 16px;
}

.material-symbols-outlined {
    width: 100%;
    height: 100%;
}

.main-menu {
    width: 250px;
    display: block;

    button {
        display: block;
        margin: 0 2em;
        width: calc(100% - 4em);
    }
}

.horizontal-select {
    margin: 0 calc(2em - 12px);
    display: flex;

    &__button {
        width: 24px;
        height: 24px;

        & span {
            user-select: none;

            &:hover {
                cursor: pointer;
            }
        }

    }


    &__label {
        flex-grow: 4;
        text-transform: capitalize;
        user-select: none;
        font-size: 14px;
        font-weight: 300px;
    }
}

button+button {
    margin-left: 8px;
}

.grid {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);

    .cell {
        position: relative;
        background-color: white;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        font-size: 24px;
        border: 1px solid #454545;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 250ms ease-out;
        overflow: hidden;

        &.initial,
        &.initial:hover {
            background-color: #eee;
        }

        &:hover {
            background-color: rgb(255, 233, 216);
        }

        &.highlighted {
            background-color: rgb(255, 189, 135) !important;
        }

        &.error {
            transition: all 0s linear;
            background-color: rgb(255, 60, 0) !important;
            color: white !important;
        }

        &:nth-child(1) {
            border-top-left-radius: 16px;
        }

        &:nth-child(9) {
            border-top-right-radius: 16px;
        }

        &:nth-child(73) {
            border-bottom-left-radius: 16px;
        }

        &:nth-child(81) {
            border-bottom-right-radius: 16px;
        }
    }

    // Inner left/right border
    .cell:nth-child(3n):not(:nth-child(9n)) {
        border-right-width: 3px;
    }

    // Inner top border
    .cell:nth-child(n+19):nth-child(-n+27) {
        border-bottom-width: 3px;
    }

    // Inner bottom border
    .cell:nth-child(n+46):nth-child(-n+54) {
        border-bottom-width: 3px;
    }
}

.notes {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 1px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    font-size: 14px;
    line-height: 1em;

    &__cell {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 250ms ease-out;
        background-color: transparent;

        &.highlighted {
            background-color: rgb(255, 189, 135);
        }
    }
}